*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
html {
    font-size: 62.5%; 
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #05031b; 
    box-sizing: border-box;
    padding: 3rem;
    background-color: #00b7a8;
}

h3 {
  font-size: 2rem;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}